<div class="side-board">
  <div class="profile-container">
    <div class="profile-info">
      <img class="profile-photo" src="./assets/profile.png">
      <div class="profile-content">
        <p class="name">Balmukhambet Darkhan</p>
        <p class="location">Kazakhstan, Almaty</p>
      </div>
    </div>
    <img class="notification" src="./assets/notification.svg">
  </div>
  <div class="schedule-container">
    <div class="schedule-top">
      <p class="schedule-header">My To Do’s List</p>
      <p class="schedule-date">Today {{dateNow}}</p>
    </div>
<!--    <div class="schedule-list">-->
<!--      <div class="schedule-item">-->
<!--        <div class="item-date">10:00 АМ</div>-->
<!--        <div class="item-number">-->
<!--          <div class="circle">-->
<!--            <p>1</p>-->
<!--          </div>-->
<!--          <div class="line"></div>-->
<!--        </div>-->
<!--        <div class="item-info">-->
<!--          <span class="project-name">Project name</span>-->
<!--          <p class="item-header">Brainstorming</p>-->
<!--          <p class="item-content">Brainstorming brings team members' diverse experience into play.</p>-->
<!--          <div class="item-statuses">-->
<!--            <span>Low</span>-->
<!--            <span>Completed</span>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
  </div>
</div>
