$dark-blue: #0D062D;
$white: #FFFFFF;
$white1: #F9F9F9;
$white2: #ECF3FE;
$white3: #E0E0E0;
$grey: #787486;
$grey1: #625F6D;
$grey2: rgba(68, 131, 247, 0.1);
$purple: #973FCF;
$orange: #FFA500;
$gold: #FFA800;
$low-orange: rgba(255, 165, 0, 0.15);
$green: #68B266;
$light-green: #8BC48A;
$low-green: rgba(104, 178, 102, 0.15);
$primary: #4483F7;
